$blue: #a8e6ce;
$green: #dcedc2;
$orange: #ffd3b5;
$pale-rose: #ffaaa6;
$pink: #ff8c94;
$white: #fff;

.app {
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $pink;
  .timer {
    transition: color 0.5s;
    color: $white;
    font-size: 100px;
    margin-bottom: 40px;
  }
  &.active {
    background-color: $green;
    .timer {
      color: #000;
    }
  }
  .btn {
    transition: all 0.5s;
    font-size: 40px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: $orange;
    cursor: pointer;
    padding: 10px;
    min-width: 150px;
    &:hover {
      background-color: $green;
    }
    &.active {
      background-color: $pink;
      color: $white;
      &:hover {
        background-color: $pale-rose;
      }
    }
  }
}
